<%- include('../partials/header') %>

<h3 name="name"> EDIT <%= pokemon.name.toUpperCase() %> :</h3>

<form action="/pokemon/<%=pokemon._id%>?_method=PUT" method="POST">
    <label for="starter">Edit Starter:
        <label>Nickname:
            <input name="nickname" type="text" value="<%= pokemon.nickname %>">
        </label>
        <label>Level:
            <input name="level" type="number" value="<%= pokemon.level %>">
        </label>
        <label>On Team: 
            <input name="onTeam" type="checkbox" default= "checked"> 
        </label>
    </label>
    <button class="submit-button" type="submit">Accept Changes</button>
</form>
<%- include('../partials/footer') %>