<%- include('../partials/header') %>

<h3 name="name"> EDIT <%= pokemon.name.toUpperCase() %> :</h3>

<form action="/pokemon/<%=pokemon._id%>?_method=PUT" method="POST">
    <label for="starter" id="editScreen">Edit Starter:
        <div>Nickname:
            <input name="nickname" type="text" value="<%= pokemon.nickname %>">
        </div>
        <div>Level:
            <input name="level" type="number" value="<%= pokemon.level %>">
        </div>
        <div>On Team: 
            <input name="onTeam" type="checkbox" default= "checked"> 
        </div>
    </label>
    <button id="changes" class="submit-button" type="submit">Accept Changes</button>
</form>
<%- include('../partials/footer') %>