<%- include('../partials/header') %>

<h3 name="name"> <%= pokemon.name %> </h3>

<form action="/pokemon/<%=pokemon._id%>?_method=PUT" method="POST">
    <label for="starter">Edit Starter:
        <select name="name">
            <option value="ditto">Ditto</option>
            <option value="squirtle">Squirtle</option>
            <option value="bulbasaur">Bulbasaur</option>
        </select>
        <input name="level" type="number" value="<%= pokemon.level %>">
    </label>
    <button class="submit-button" type="submit">Accept Changes</button>
</form>
<%- include('../partials/footer') %>