<%- include('../partials/header') %>

<h2>My Team:</h2>
    <div class="container">
            <% pokemon.forEach(function(p) { %>
                <div class="col">
                <div class="card">
                    <div class="left">
                    <div><img src=<%=p.sprite %>></div>
                    <% if (p.nickname !== undefined) { %>
                    <div id="nickname">
                        <%= p.nickname %>
                    </div>
                    <% } %>
                    </div>
                    <div class="right">
                    <div id="pokeName">
                        <%= p.name %>
                    </div>
                    <label class="typeID">Type: <span><%= p.type %></span></label><br/>
                    <% if (p.level !== undefined) { %>
                    <label class="levelID">Level: <span><%= p.level %></span></label>
                    <% } else { %>
                    <label class="levelID">Level: <span>?</span></label>
                    <% } %>
                    </div>
                    <div id="buttons">
                    <a href="/pokemon/<%= p._id %>">DETAILS</a>
                    <form action="/pokemon/<%=p._id%>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                    </div>
                </div>
            </div>
                <% }); %>
    </div>
    <a href="/pokemon/new">Build Your Team!</a>

    <%- include('../partials/footer') %>