<%- include('../partials/header') %>

<h3>Pokemon Details:</h3>
    <div>Starter Pokemon:</div>
    <div><%= pokemon.name %></div>
    <div><%= pokemon.type %></div>
    <div><%= pokemon.level %></div>


   <a href="/pokemon/<%=pokemon._id%>/edit">EDIT STARTER</a>

<%- include('../partials/footer') %>